@page
@using Modelos;
@model ProyectoFutbol.Pages.Equipos.EditModel
@{
    var titulo = @Model.Equipo.nomEquipo;
    var photo = "~/images/" + (@Model.Equipo.foto ?? "noimage.jpg");


}

<h1>Edicion de datos de @titulo</h1>
<form method="post" class="mt-3" enctype="multipart/form-data">

    <input type="hidden" asp-for="Equipo.Id" />
    <input type="hidden" asp-for="Equipo.foto" id="lafoto" />


    <div class="form-group row">
        <label asp-for="Equipo.nomEquipo" class="col-sm-2 col-form-label">Nombre del Equipo</label>
        <div class="col-sm-10">
            <input asp-for="Equipo.nomEquipo" class="form-control" placeholder="Nombre" />
            <span asp-validation-for="Equipo.nomEquipo" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Equipo.ciudad" class="col-sm-2 col-form-label">Ciudad del Equipo</label>
        <div class="col-sm-10">
            <input asp-for="Equipo.ciudad" class="form-control" placeholder="Ciudad" />
            <span asp-validation-for="Equipo.ciudad" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Equipo.nomEstadio" class="col-sm-2 col-form-label">Nombre del estadio</label>
        <div class="col-sm-10">
            <input asp-for="Equipo.nomEstadio" class="form-control" placeholder="Estadio" />
            <span asp-validation-for="Equipo.nomEstadio" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Equipo.anoFundacion" class="col-sm-2 col-form-label">Año fundacion</label>
        <div class="col-sm-10">
            <input asp-for="Equipo.anoFundacion" class="form-control" type="number" placeholder="Año fundacion" />
            <span asp-validation-for="Equipo.anoFundacion" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Equipo.categoria" class="col-sm-2 col-form-label">Categoría:</label>
        <div class="col-sm-10">
            <select asp-for="Equipo.categoria" class="form-select mb-3" asp-items="Html.GetEnumSelectList<Categoria>()">
                <option value="Selecciona uno">Selecciona uno</option>
            </select>
            <span asp-validation-for="Equipo.categoria" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Photo" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Photo" class="custom-file-input" type="file" value="@Model.Equipo.foto" onchange="lafoto.value = this.value.substring(this.value.lastIndexOf('\\')+1)" />
            <label class="custom-file-label">Click aquí para cambiar foto</label>
        </div>
    </div>
    <div class="form-group row col-sm-4 offset-4">
        <img class="imageThumbail" src="@photo" asp-append-version="true" />
    </div>
    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Save</button>
            <a asp-page="/Alumnos/Index" class="btn btn-promary">Cancel</a>
        </div>
    </div>









</form>